/* General Body Styling */
body {
    font-size: medium;
    margin: 20px;
    background-color: #f8f9fa;
}

/* Form Group Styling */
.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

/* Quiz Container Styling */
.quiz-container {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Question Styling */
#question-text {
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* Options Styling */
.form-check {
    margin-bottom: 10px;
}

.form-check-input {
    margin-right: 10px;
}

/* Flexbox for Navigation Buttons */
.d-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
#submitSection {
    text-align: center;
}

#results {
    text-align: center;
    font-size: 1.5em;
    color: #28a745;
    font-weight: bold;
}

@media (max-width: 768px) {
    .form-group {
        flex-direction: column;
    }

    .form-name, .form-password, .form-city {
        width: 100%;
        margin-bottom: 15px;
    }

    .d-flex {
        flex-direction: column;
    }

    .d-flex button {
        width: 100%;
        margin-bottom: 10px;
    }
}
